header {
  overflow: hidden;
}

.navbar .navbar-brand,.create {
  color: #4592af;
}

.navbar .navbar-brand:hover,.create:hover {
  color: #226089;
}

.banner {
  position: relative;
  z-index: -1;
  margin: -5px;
  height: 360px;
  background: #dddddd center center url('https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5720/restaurants-list-cover.jpg');
  background-size: cover;
  filter: blur(3px);
}

.search-bar .search-bar-outer {
  margin: 0 auto;
  max-width: 680px;
  background-color: #fce2cf;
  border-radius: 8px;
  padding: 20px 30px;
  border: 0;
  margin-top: -60px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.search-bar .search-bar-inner h4,
.search-bar .search-bar-inner p {
  color: #9b4b4b;
  margin: 0;
}

.search-category a{
  font-size: 12px;
}

.search-category a:not(:last-child) {
  margin-right: 0.5rem;
}

.form-control::placeholder {
  color: #aaaaaa;
  font-size: 0.8rem;
}

.btn-major {
  background-color: #9b4b4b;
  color: white;
}

.btn-major:hover {
  color: white;
  filter: brightness(1.2);
}

.btn-outline-major {
  border: 1px solid #9b4b4b;
  background-color: white;
  color: #9b4b4b;
}

.btn-outline-major:hover {
  color: white;
  background-color: #9b4b4b;
  filter: brightness(1.2);
}

.form-control:focus {
  box-shadow: none;
  border-color: #ced4da;
}

.card {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.card img{
  height: 180px;
}

.card-title{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

.restaurant-category {
  color: #666666;
  font-size: 0.8rem;
}

.title {
  position: relative;
  top: -100px;
  color: white;
  text-align: center;
  font-size: 3rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

form.create-new {
  width: 500px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
}

form.create-new * {
  width: 100%;
  margin-bottom: 10px;
}

form.create-new label {
  font-size: 14px;
}

form.create-new #category {
  height: 32px;
}

form.create-new #category option:first-child {
  color: #666;
}

.control-panel {
  display: flex;
  justify-content: flex-end;
}

.detail .control-panel i {
  color: #333;
  font-size: 24px;
} 

.control-panel i:hover{
  color: #4592af;
}
.control-panel .delete i:hover {
  color: #be0a0a;
}

.edit {
  display: block;
  text-align: right;
}

.delete {
  background: no-repeat;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

.card-body {
  position: relative;
}

.index .edit, 
.index .delete-form {
  /* position: absolute; */
  display: inline;
  bottom: 12px;
  right: 10px;
  font-size: 14px;
  color: #aaa;
}
.index .delete {
  color: #aaa;
  margin: 0;
}

.index .item {
  position: relative;
}
.index .item:hover {
  filter: brightness(1.15);
}

.index .control-panel {
  display: inline-block;
  position: absolute;
  bottom: 32px;
  right: 10px;
  z-index: 1;
}

#sort {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}
#sort .input-group {
  max-width: 295px;
}



@media screen and (max-width: 992px) {
  
  .card img{
    height: 115px;
  }
}

@media screen and (max-width: 768px) {
  
  .restaurant-show-title {
    font-size: 2rem;
  }
}
@media screen and (min-width: 576px) and (max-width:767px) {
  .container {
    max-width: 90%;
  }
}
@media screen and (max-width: 575px) {
  
  .card img{
    height: auto;
  }
  .index .control-panel {
    bottom: 4%;
  }
}
