<h1 class="title">新增餐廳</h1>
<form class="create-new" action="/restaurants" method="POST">
  <input type="text" placeholder="餐廳名稱" name="name">
  <input type="text" placeholder="餐廳英文名稱" name="name_en">
  <select name="category" id="category">
    <option value="" disabled selected hidden>餐廳類別</option>
    {{#each categories}}
    <option value="{{this.name}}">{{this.name}}</option>
    {{/each}}
  </select>
  <input type="text" placeholder="餐廳照片" name="image">
  <input type="text" placeholder="餐廳地址" name="location">
  <input type="text" placeholder="餐廳電話" name="phone">
  <input type="text" placeholder="Google map 連結" name="google_map">
  <input type="text" placeholder="餐廳評分" name="rating">
  <textarea id="description" placeholder="餐廳介紹" name="description" rows="5" cols="33">{{ restaurant.description }}</textarea>

  <div class="d-flex">
    <a href="/" class="btn btn-outline-major mr-2">返回</a>
    <button type="submit" class="btn btn-major">確定新增</button>
  </div>
</form>