<h1 class="title">新增餐廳</h1>
<form class="create-new" action="/restaurants" method="POST">
  <input type="text" placeholder="餐廳名稱" name="name">
  <input type="text" placeholder="餐廳英文名稱" name="name_en">
  <input type="text" placeholder="餐廳類別" name="category">
  <input type="text" placeholder="餐廳照片" name="image">
  <input type="text" placeholder="餐廳地址" name="location">
  <input type="text" placeholder="餐廳電話" name="phone">
  <input type="text" placeholder="Google map 連結" name="google_map">
  <input type="text" placeholder="餐廳評分" name="rating">
  <input type="text" placeholder="餐廳介紹" name="description">

  <button type="submit">確定新增</button>
</form>